.contact-preview {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    max-height: 100px;

    .contact-info {
        display: grid;
        font-size: 14px;

        >*:not(:first-child) {
            color: $smallTxt;
        }
    }


    .avatar-img {
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        width: 60px;
    }

    .contact-name {
        font-size: 16px;
        font-family: roboto-medium;
    }

    button {
        border: none;
        background-color: inherit;
        margin-inline-start: auto;

        &:hover {
            scale: 1.1;
        }

        svg {
            width: 16px;
        }
    }
}