.moves-section {
    width: fit-content;

    h3 {
        margin: 10px 0;
        padding-inline-start: 10px;
    }

    .moves-container {
        

        .moves-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 6px;

            &:hover {
                background-color: rgb(230, 230, 230);
            }

            h5 {
                font-size: 14px;
                color: $smallTxt;
            }

            >*:not(:last-child) {
                margin-inline-end: 50px;
            }
        }

    }
}