.app-header {
    z-index: 5;
    position: sticky;
    background-color: #fff;
    top: 0;
    height: 64px;
    font-size: 14px;

    .logo {
        width: 120px;
        height: 24px;
        fill: rgb(240, 185, 11);
    }


    .nav-links {
        gap: 10px;
        > *:not(:last-child) {
            margin-inline-end: 10px;
        }

        .burger {
            width: 25px;
            display: grid;
            gap: 4px;
    
            > * {
                width: 80%;
                height: 3px;
                background-color: black;
            }
        }
    }

    .btn-deposit {
        @include yellow-btn;
        gap: 3px;
        height: 32px;
        padding: 6px 12px;
        font-size: 14px;
        color: rgb(24, 26, 32);

        span {
            height: 16px;
        }
    }
}