.app-header {
    height: 64px;
    font-size: 14px;

    .logo {
        width: 120px;
        height: 24px;
        fill: rgb(240, 185, 11);
    }


    .nav-links {
        > *:not(:last-child) {
            margin-inline-end: 10px;
        }
    }

    .btn-deposit {
        @include yellow-btn;
        gap: 3px;
        height: 32px;
        padding: 6px 12px;
        font-size: 14px;
        color: rgb(24, 26, 32);

        span {
            height: 16px;
        }
    }

    .black-screen {
        position: absolute;
        pointer-events: none;
        width: 100vw;
        height: 100vh;
        opacity: 0;
        z-index: 1;
        background-color: #000;

        &.active {
            opacity: .45;
        }
    }

    .screen {
        position: absolute;
        right: -100%;
        width: 484px;
        padding: 40px 24px;
        z-index: 10;
        background-color: #fff;
        height: 100vh;
        transition: .5s;

        &.active {
            right: 0;
            transition: .5s;
        }

        .screen-title {
            font-family: roboto-medium;
            font-size: 14px;
            color: rgb(30, 35, 41);

            .btn-close-screen {
                border: none;
                background-color: inherit;
                
                svg {
                    width: 24px;
                    height: 24px;
                    fill: rgb(146, 154, 165);
                }
            }
        }
    }

    .deposit-action {
        margin-top: 20px;
        display: grid;
        gap: 10px;

        input {
            width: 100%;
            outline: 0;
            border: 0;
            border-bottom: 1px solid rgb(160, 160, 160);
        }
    }
}